<div class="card" id="card" style="width: 14rem;">

  <div class="card-body">

    <p class="card-text">Make: {{title}}</p>
    <p class="card-text">Model: {{content}}</p>
    <p class="card-text">Year: {{timestamp data}}</p>

  </div>
</div>