<div id="card">
  <div>
    <p class="section">Title: </p>
    <p class="content">{{title}}</p>
    <p class="section">Content:</p>
    <p class="content">{{content}}</p>
  </div>
  {{!-- <p class="card-text">Created at: {{timestamp data}}</p> --}}
  <a href="/api/posts/{{id}}" id="view_car" class="cloudinary-button">View Post</a>

</div>