<div id="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">All posts</h5>
    <p class="card-text">Click here if you would like to view all of the posts
      in the tech blog!</p>
    <a href="/" class="btn btn-primary">View All</a>
  </div>
</div>
<div id="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">My posts</h5>
    <p class="card-text">Click here if you would like to view all of your
      posts!</p>
    <a href="/dashboard/myPosts" class="btn btn-primary">My posts</a>
  </div>
</div>
<div id="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">make new post</h5>
    <p class="card-text">Click here if you would like to make a post to the tech blog!</p>
    <a href="/dashboard/makePost" class="btn btn-primary">new post</a>
  </div>
  </div>
</div>