<form class="updatePost-form">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Title</span>
    <input
      type="text"
      class="form-control"
      placeholder="new title"
      id="title-updatePost"
      aria-label="new title"
      aria-describedby="basic-addon1"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Content</span>
    <input
      type="text"
      class="form-control"
      placeholder="update content"
      id="content-updatePost"
      aria-label="update content"
      aria-describedby="basic-addon1"
    />
    <button
      class="btn btn-primary"
      id="updatePost-form"
      type="submit"
    >Update</button>
  </div>
</form>
<script src="/js/update.js"></script>